.carousel-container {
  position: relative;
  width: 80%; /* Adjust as needed */
  max-width: 600px;
  height:100%;
  overflow: hidden; /* Hides extra slides */
  margin: auto;
  /* background: pink; */
}

.carousel-box {
  display: flex; /* Arranges items in a row */
  transition: transform 0.5s ease; /* Smooth slide transition */
  width: 100%;
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 20px;
}

.prev-btn, .next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* color:#fff; */
  /* background-color: rgba(86, 85, 85, 0.66); */
  border-radius: 50%;
  border:none;
  /* box-shadow: 2px 2px 1px rgba(0,0,0,0.66); */
  cursor:pointer;
  background:none;
  /* Add more styling for buttons */
}

.prev-btn { left: -3px; }
.next-btn { right:-3px; }


.carousel-item {
  flex: 0 0 100%;
}

.carousel-item .image {
  position:relative;
  aspect-ratio:16/9;
  background: #f5f5f5;
  border:1px solid #b9b9b9;
  /* box-shadow:2px 2px 2px rgba(0,0,0,0.75); */
  padding:12px 0;
}

.carousel-item .image img {
  height: 100%;
  border-radius: 10px;
}

.carousel-item .image .text-box {
  position:absolute;
  left:0;
  bottom:0;
  background: rgba(0,0,0,0.66);
  color:#fff;
  padding:5px 12px;
} 
